* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$primary-color: #eb3656;
$primary-text-color: #cccdd0;

html {
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  background-color: #1A1D2C;
  color: #cccdd0;
}

.name-cinema {
  color: $primary-color;
}

//=====NAVBAR=====//
.nav-container {
  max-width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: transparent;
  background-image: linear-gradient(to bottom, #171a28, transparent 70%);

    // active cho react-router-dom
    .active{
      background-color: #eb3656;
    }

    .nav-logo {
      height: 100%;
      display: flex;
      cursor: pointer;
    }

    .logo{
      height: 100%;
    }  

    .text-logo{
      font-size: 1.6rem;
      font-weight: bold;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  
    .nav-items {
      position: absolute;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
    
      display: flex;
      list-style: none;
      gap: 1.8rem;
      align-items: center;
      backdrop-filter: blur(8px);
      border-radius: 20px;
    }

    .nav-item:link,
    .nav-item:visited {
      text-decoration: none;
      color: inherit;
      font-weight: 400;
      transition: all 0.3s ease-in;
      display: inline-block;
      padding: 12px;
      border-radius: 20px;
    }

    .nav-item:hover,
    .nav-item:active {
      background-color: #eb3656;
    }
    
    .switch-modal-icon{
      margin-left: 6px;
      font-size: 1.2rem;
      cursor: pointer;
    }

    .nav-icon-menu {
      font-size: 1.2rem;
      cursor: pointer;
    }
}

//======NAVBAR MOBILE=======//

//======HOMEPAGE BANNER=====//
.banner-container{
  display: flex;
  justify-content: center;
  margin-top: 50px;

  .banner-text {
    margin-top: 100px;
    margin-bottom: 30px;
    
    @media (max-width: 992px ) { 
      margin-top: 0;
    }
    
    .banner-title {
      font-size: 2.1rem;
      font-weight: 700;
      margin-bottom: 26px;
    }

    > p {
      line-height: 24px;
    }
    
    .banner-btn-order{
      background-color: $primary-color;
      color: $primary-text-color;
      transition: all .3s;
      border: none;
      padding: 16px;
      border-radius: 9px;
      font-weight: 700;
      font-size: 1.1rem;
      cursor: pointer;
    }

    .banner-btn-order:hover {
      background-color: $primary-color;
      transform: translateY(-0.4rem);
      box-shadow: 0 1rem 1.8rem 0 rgba(235, 54, 87, 0.16);
    }
  }
  
  .banner-img {
    display: flex;
    justify-content: center;
  }

  .banner-img img {
    width: 80%;
  }
}

//=====HOMEPAGE NEW MOVIE=====//
.newmovie-container {
  display: flex;
  background-color: #313441;
  margin-top: 50px;
}